{% if error is defined and error %}
    <div class="alert alert-danger">
        {{ error|trans({}, 'FOSUserBundle') }}
    </div>
{% endif %}

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-success">
        {{ flashMessage | trans({}, 'FOSUserBundle')}}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
        {{ flashMessage | trans({}, 'FOSUserBundle')}}
    </div>
{% endfor %}