parameters:
    base.user_registration.class: Base\UserBundle\Form\Type\RegistrationFormType
    base.user_resetting.class: Base\UserBundle\Form\Type\ResettingFormType
    base.user_change_password.class: Base\UserBundle\Form\Type\ChangePasswordFormType
    base.user_profile.class: Base\UserBundle\Form\Type\ProfileFormType

services:
    Base\UserBundle\Form\Type\RegistrationFormType:
        parent: fos_user.registration.form.type
        tags:
            - { name: form.type }

    base_user.form.type.registration:
        alias: Base\UserBundle\Form\Type\RegistrationFormType

    Base\UserBundle\Form\Type\ProfileFormType:
        parent: fos_user.profile.form.type
        tags:
            - { name: form.type }

    base.user_profile:
        alias: Base\UserBundle\Form\Type\ProfileFormType

    Base\UserBundle\Form\Type\ChangePasswordFormType:
        parent: fos_user.change_password.form.type
        tags:
            - { name: form.type }

    base.user_change_password:
        alias: Base\UserBundle\Form\Type\ChangePasswordFormType

    Base\UserBundle\Form\Type\ResettingFormType:
        parent: fos_user.resetting.form.type
        tags:
            - { name: form.type }

    base.user_resetting:
        alias: Base\UserBundle\Form\Type\ResettingFormType

    fos_user.controller.registration:
        class: FOS\UserBundle\Controller\RegistrationController
        public: true
        arguments:
            - "@event_dispatcher"
            - "@fos_user.registration.form.factory"
            - "@fos_user.user_manager"
            - "@security.token_storage"
        calls:
            - [setContainer, ["@service_container"]]