{% extends "FOSUserBundle::layout.html.twig" %}

{% block body -%}
    {% include "BaseUserBundle::messages.html.twig" %}

    <h1 class="page_title">Neleista</h1>

    Nėra teisių pasiekti šį puslapį. Palaukite kol jus patvirtins administratorius.
{% endblock %}