# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/assets/*
web/assetic/*
web/translations/*
web/js/*
web/css/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

.idea/*
nbproject/*
/scripts/