{% extends 'BaseMainBundle::layout.html.twig' %}

{% block body %}
    <div class="about">
        <div class="span6">
            <p>
                <b>Išeities kodas su </b><a href="https://www.gnu.org/licenses/agpl.txt"><b>aGPL</b></a>:
            </p>
            <p>
                <pre><a href="https://github.com/InScience/DAMIS-GUI">github.com/InScience/DAMIS-GUI</a></pre>
            </p>

            <p>
                <b>Pranešk apie klaidas</b>: <a href="https://github.com/InScience/DAMIS/issues"></a>
            </p>
            <p>
                <pre><a href="https://github.com/InScience/DAMIS-GUI/issues">github.com/InScience/DAMIS-GUI/issues</a></pre>
            </p>

            <p>
                <b>Išsakyk poreikius</b>:
            </p>
            <p>
                <pre><a href="http://wiki.hack4.lt/index.php/DAMIS">Poreikių wiki</a></pre>, <pre><a href="http://piratepad.net/damis">mintys</a></pre>
            </p>

            <p>
                <b>Diskutuok</b>: <a href="https://groups.google.com/forum/#!forum/damis"></a>
            </p>
            <p>
                <pre><a href="https://groups.google.com/forum/#!forum/damis">damis@googlegroups.com</a></pre>
            </p>
        </div>

        <div class="span6">
            <p>
                <b>Oficialūs kūrėjai</b>:
            </p>
            <p>
                <div class="well well-small"><a href="http://www.inscience.lt">InScience.LT</a> - siekiame atskleisti maksimalų mokslo infrastruktūros potencialą.</div>
            </p>

            <p>
                <b>Bendrauk su mumis</b>:
            </p>
            <p>
                <pre><a href="http://webchat.freenode.net?channels=Hack4LT&amp;prompt=1">#Hack4LT</a> @ freenode.net </pre>
            </p>
        </div>
    </div>
{% endblock %}