<div style="display:none;">
    <span title="">{{parameter.getTitle(app.request.locale) | trans({}, 'ExperimentBundle') }}

        <span class="helptext">( {{ parameter.getTitle(app.request.locale) | trans({}, 'ExperimentBundle') }})<br></span>


        <input id="value" name="value" type="text">
        <input id="id" name="id" type="text" value="{{ parameter.id }}">
    <input id="source_ref" name="source_ref" type="hidden" />
    </span>
    <input id="form-connection_type" type="hidden" value="{{ parameter.connectionType.type }}"
           name="form-connection_type"/>
</div>
