
{#TODO:IT SHOULD BE DINAMICAL#}







<div style="display:none;">

    
    <span title=''
            >Y
        
        <span class="helptext">(dataset)<br /></span>
        
        
        <input id="id_PV_3874101858464901068-0-value" name="PV_3874101858464901068-0-value" type="text" />
    </span>





    <input id="id_PV_3874101858464901068-0-parameter" name="PV_3874101858464901068-0-parameter" type="hidden" value="134" />

    <input id="id_PV_3874101858464901068-0-task" name="PV_3874101858464901068-0-task" type="hidden" />

    <input id="id_PV_3874101858464901068-0-source_ref" name="PV_3874101858464901068-0-source_ref" type="hidden" />

    <input id="id_PV_3874101858464901068-0-id" name="PV_3874101858464901068-0-id" type="hidden" />

    <input id="PV_3874101858464901068-0-connection_type" type="hidden" value="OUTPUT_CONNECTION" name="PV_3874101858464901068-0-connection_type"/>
    <input id="PV_3874101858464901068-1-connection_type" type="hidden" value="INPUT_CONNECTION" name="PV_3874101858464901068-0-connection_type"/>
</div>



<input id="id_PV_3874101858464901068-TOTAL_FORMS" name="PV_3874101858464901068-TOTAL_FORMS" type="hidden" value="1" /><input id="id_PV_3874101858464901068-INITIAL_FORMS" name="PV_3874101858464901068-INITIAL_FORMS" type="hidden" value="0" /><input id="id_PV_3874101858464901068-MAX_NUM_FORMS" name="PV_3874101858464901068-MAX_NUM_FORMS" type="hidden" value="1000" />
