<div style="display:none;">
    <span title="">{{parameter.getTitle | trans({}, 'ExperimentBundle') }}

        <span class="helptext">( {{ parameter.getName }})<br></span>


        <input id="value" name="value" type="text" value="{{ parameter.getId }}">
    </span>
    <input id="form-connection_type" type="hidden" value="{{ parameter.connectionType.getType }}"
           name="form-connection_type"/>
</div>
