parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: damis
    database_user: root
    database_password: null
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: lt_LT
    secret: f781fb4417d6d72748d4747219dca7ca
    database_path: null
    project: SOMETHING
    project_domain: .something
    project_email: info@something.lt
