{% extends 'BaseMainBundle::layout.html.twig' %}

{% block body -%}
    {% include "BaseStaticBundle::messages.html.twig" %}

    <h1>{{ 'form.pages'|trans({}, 'StaticBundle') }}</h1>
    <a class="btn btn-default" href="{{ path("page_new") }}">{{ "form.create" | trans({}, 'StaticBundle') }} <span class="glyphicon glyphicon-plus"></span></a>

    {{ grid(grid, "BaseMainBundle:Grid:blocks.html.twig") }}
{% endblock %}