{% extends 'NaujosKnygosStaticBundle::layout.html.twig' %}

{% block body -%}
    <div class="main_container_info">
        <div class="main_text">
            <h1 class="page_title">{{ entity.name }}</h1>

            {% if entity.text %}
                {{ entity.text|raw }}
            {% endif %}
        </div>
    </div>
{% endblock %}
