{% extends 'BaseMainBundle::layout.html.twig' %}

{% block body -%}
    <h2 class="form-signin-heading">{{ entity.title }}</h2>

    {% if entity.text %}
        {{ entity.text|raw }}
    {% endif %}
{% endblock %}
