body {
    padding-top: 70px;
    background-color: white;
    padding-bottom: 40px;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-normal {
    max-width: 600px;
    padding: 15px;
    margin: 0 auto;
}

.tinymce-div,
.form-normal input[type="number"],
.form-normal input[type="text"],
.form-normal input[type="email"],
.form-normal input[type="password"],
.form-normal textarea,
.form-normal select,
.form-signin input[type="text"],
.form-signin input[type="email"],
.form-signin input[type="password"]
{
    margin-top: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.datasets-btn{
    padding: 2px 10px;
}
.center-paginator{
    text-align: center;
}
.datasets-sort{
    color: #333;
}
.form-group li {
    color: red;
}
.component-form-margin {
    margin-bottom: 5px;
}
#pca_type_projType label, #splitdata_type_reshufleObjects label,
#splitdata_type_normMeanStd label , #smacof_type_zeidel label{
    margin-right: 10px;
}
span.helptext{
    color: grey;
    font-size: 13px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
}
.container-footer {
    padding: 0 15px;
}
.container-footer .text-muted {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.container-footer .text-muted a{
    margin-left: 5px;
    margin-right: 5px;
}
.helptext {
    color: #808080;
    font-size: 11px;
    line-height: 0.8;
}
.about {
    font-family: "Courier";
    font-size: 18px;
    text-align: center;
}
.about :first-child {
    margin-left: 0;
}
.span6 {
    -moz-box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 2.12766%;
    min-height: 30px;
    width: 48.9362%;
}
.about pre {
    display: inline;
}
.required:after {
    content: "*";
    color: red;
}