# config/routes.yaml

# This loads all #[Route] attributes from your custom controllers
base_main:
    resource: ../src/Base/MainBundle/Controller/
    type: attribute
base_user:
    resource: ../src/Base/UserBundle/Controller/
    type: attribute
damis_experiment:
    resource: ../src/Damis/ExperimentBundle/Controller/
    type: attribute
damis_datasets:
    resource: ../src/Damis/DatasetsBundle/Controller/
    type: attribute
    prefix: /datasets
damis_algorithm:
    resource: ../src/Damis/AlgorithmBundle/Controller/
    type: attribute
base_static:
    resource: ../src/Base/StaticBundle/Controller/
    type: attribute

# --- FOS User routes ---
# We ONLY import the parts you are NOT overriding.
# Your custom controllers (loaded by 'base_user:' above)
# will handle profile, registration, and change_password.

fos_user_security:
    resource: "@FOSUserBundle/Resources/config/routing/security.xml"

fos_user_resetting:
    resource: "@FOSUserBundle/Resources/config/routing/resetting.xml"
    prefix: /resetting

fos_user_change_password:
    resource: "@FOSUserBundle/Resources/config/routing/change_password.xml"
    prefix: /profile

fos_user_registration_register:
    path: /register/
    controller: Base\UserBundle\Controller\RegistrationController::register

# --- REMOVED THE FOLLOWING CONFLICTING IMPORTS ---
#
# fos_user_profile:
#     resource: "@FOSUserBundle/Resources/config/routing/profile.xml"
#     prefix: /profile
#
# fos_user_register:
#     resource: "@FOSUserBundle/Resources/config/routing/registration.xml"
#     prefix: /register
#
# fos_user_change_password:
#     resource: "@FOSUserBundle/Resources/config/routing/change_password.xml"
#     prefix: /profile
#
# fos_user_registration_register_custom:
#     path: /register/
#     controller: Base\UserBundle\Controller\RegistrationController::register
#     methods: [GET, POST]
#
# --- End of FOS User routes ---