{% extends "FOSUserBundle::layout.html.twig" %}

{% block body -%}
    {% include "BaseUserBundle::messages.html.twig" %}

    <h2>{{ 'layout.users'|trans({}, 'FOSUserBundle') }}</h2>

    {{ grid(grid, "BaseMainBundle:Grid:blocks.html.twig") }}
{% endblock %}